.plp {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1400px;

  &__item {
    cursor: pointer;
    flex-grow: 0;
    margin: 50px;
    width: 33%;
    padding-bottom: 30px;

    &:hover {
      box-shadow: 0 0 1px #000;
      transition: .2s;
    }

    &-link {
      text-decoration: none !important;
    }
  }

  &__picture {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

      img {
      width: 100%;
      transition: .3s;
    }
  }

  &__name {
    text-align: center;
    margin-top: 20px;
    color: black;
  }
}

@media screen and (min-width: 1023px) {
  .plp__item {
    width: 20%;
  }
}

@media screen and (max-width: 588px) {
  .plp__item {
    width: 100%;
  }
}
