.plp {
  max-width: 1400px;

  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  justify-content: center;

  &__item {
    cursor: pointer;
    flex-grow: 0;
    margin: 20px;
    padding-bottom: 30px;
    border: solid 1px white;

    &:hover {
      border: solid 1px black;
      transition: .2s;
    }
  }

  &__picture {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

      img {
      width: 100%;
      transition: .3s;
    }
  }

  &__name {
    text-align: center;
    margin-top: 20px;
    color: black;
  }
}
